* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

header {
  margin-inline: auto;
  max-width: fit-content;
  padding-bottom: 1rem;
}

img {
  width: 300px;
  height: auto;
}

video {
  width: 300px;
  height: auto;
}
