* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 8% 80% 15%;
}

header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  align-items: center;
}

.aside {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

footer {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}

.snowy-forest {
  object-fit: cover;
  width: 200px;
  height: auto;
}

.p-1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  object-fit: cover;
}

.p-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  object-fit: cover;
}
