body {
  background-color: lavender;
  font-family: monospace;
}

header h1 {
  background-color: crimson;
  color: mediumblue;
  text-align: center;
}

header {
  background-color: lemonchiffon;
  text-align: center;
}

.title-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.buttons {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

#button1 {
  background-color: crimson;
  color: white;
}

#button1:hover {
  background-color: white;
  color: crimson;
}

#button2 {
  background-color: rgb(6, 5, 5);
  color: white;
}

#button2:hover {
  background-color: white;
  color: rgb(6, 5, 5);
}

#button3 {
  background-color: purple;
  color: forestgreen;
}

#button3:hover {
  background-color: forestgreen;
  color: purple;
}

.Spider-Man-image {
  height: 250px;
  width: auto;
  padding: 10px;
}

footer {
  background-color: crimson;
  color: midnightblue;
}

.links:hover {
  color: lightblue;
}
