* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

#hobby-form {
  padding-top: 30px;
}

#hobby-form fieldset {
  display: flex;
  flex-direction: column;
  width: 50%;
}
