* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: lavender;
}

header {
  border: solid 5px crimson;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

nav {
  border: solid 5px mediumblue;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
